<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Product Application(TumiStore) </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/table.css}" /></head>
<body>
<div class="login-box">
    <div class="row">
        <nav class ="navbar">
            <img src="/TumiStoreLogo2.png" alt="TumiStoreLogo2" width="500">
            <ul>
                <li><a href="/">Home</a> </li>
                <li><a href="/user/sign-up">sign-Up</a> </li>
                <li><a href="/user/admin-sign-up">Register(admin)</a> </li>
                <li><a href="/user/logout">Logout</a> </li>
                <li><a href="">contact</a> </li>
            </ul>
        </nav>
    </div>
    <table class="table1">
        <h2>
            <span>Welcome to Product Dashboard</span></h2> <p th:text="${userID}"> </p>
        <thead>

        <tr>
            <th>
                Product Name
            </th>
            <th>
                Category
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Images
            </th>
            <th>
                Action
            </th>
            <th>

            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product:${products}">
            <td th:text="${product.name}"> </td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.price}"></td>
            <td><img th:src="@{${product.image}}" alt="${image.name}" height="60px" /></td>
            <td><button><a th:href="@{/products/delete-product(id=${product.getId()})}">DeleteProduct</a> </button></td>
            <td> <button>  <a th:href="@{/products/edit-product(id=${product.getId()})}">EditProduct</a> </button>
            </td>
        </tr>

        </tbody>

    </table>
    <button type="button">
        <a href="/products/admin-add-prod">Add Product</a>
    </button>
</div>
</body>
<!--<script src="script.js"> </script>-->
</html>