<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Product Application </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/formstyle.css}" />
</head>
<body>
<div class="login-box">
    <div class="row">
        <nav class ="navbar">
            <img src="/TumiStoreLogo2.png" alt="TumiStoreLogo2" width="500">
            <ul>
                <li><a href="/">Home</a> </li>
                <li><a href="/user/sign-up">sign-Up</a> </li>
                <li><a href="/user/admin-sign-up">Register(admin)</a> </li>
                <li><a href="/user/logout">Logout</a> </li>
                <li><a href="">contact</a> </li>
            </ul>
        </nav>
    </div>

    <h1> SIGN UP SUCCESSFUL</h1>
    <h3> You can now LOG IN</h3>
    <a href="/user/admin-login">
        <button type="button"> LOGIN
        </button>
    </a>
</div>
</body>
<!--<script src="script.js"> </script>-->
</html>